GITHUB_CLIENT_ID=GitHub gives you this when you register a new OAuth app, see README
GITHUB_CLIENT_SECRET=same as above
GITHUB_ID_ALLOWLIST=123,345,6789: a comma-separated list of GitHub numeric IDs. To find your's, go to https://api.github.com/users/YOURUSERNAME and look for the `id` field
SESSION_SECRET=looooooong random string, see README for a JS snippet to generate something appropriate
